* {
    background-color: blue;

}

.box-1 {
    height: 300px;
    width: 700px;
    background-color: aliceblue;
}

.box-2 {
    height: 300px;
    width: 700px;
    background-color: greenyellow;
}